.container {
  position: relative;
  min-height: 70vh;
  display: flex;
  align-items: center;
}

.filter {
  align-self: self-start;
  margin: 3%;
  height: 100%;
}

.flexBooksContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  width: 90%;
  /* margin: 0 7% 0 10%; */
}

.gridBooksContainer {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  margin-right: 5%;
  width: 90%;
}

.gridBooksContainer > * {
  width: 100% !important;
}

.topPicks,
.deals {
  width: 100%;
}

.topPicksContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.dealsContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.topPicksText,
.dealsText {
  margin-top: 2rem;
  font-size: 1.4rem;
  letter-spacing: 2px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bolder;
  color: orange;
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: rgb(155, 1, 1);
}

.darkSpaceFiller {
  position: absolute;
  top: 45%;
  left: 40%;
  font-size: 3rem;
  color: rgb(47, 47, 47);
}
.lightSpaceFiller {
  position: absolute;
  top: 45%;
  left: 40%;
  font-size: 3rem;
  color: rgb(237, 237, 237);
}

.selectedFilterBooks {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.selectedFilterDisplay {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.selectedFilterText {
  margin-top: 2rem;
  font-size: 1.8rem;
  letter-spacing: 2px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bolder;
  color: orange;
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: rgb(155, 1, 1);
}

.selectedFilterImg {
  height: 250px;
  width: 250px;
}

.historyImg {
  height: 180px;
  width: 250px;
}

.horrorImg {
  height: 250px;
  width: 230px;
}

.topPicksCard {
  background-color: red;
}

.searchedBook {
  align-self: flex-start;
}

@media (max-width: 1440px) {
  .flexBooksContainer,
  .gridBooksContainer {
    margin: 0 7%;
  }
  .gridBooksContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .topPicksContainer,
  .dealsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media (max-width: 1200px) {
  .flexBooksContainer,
  .gridBooksContainer {
    margin: 0 5%;
    width: 70%;
  }
  .topPicksContainer,
  .dealsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (max-width: 950px) {
  .flexBooksContainer,
  .gridBooksContainer {
    margin: 0 5%;
  }
  .topPicksContainer,
  .dealsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 650px) {
  .flexBooksContainer,
  .gridBooksContainer {
    margin: 0 3%;
  }
  .topPicksContainer,
  .dealsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .topPicksText,
  .dealsText {
    text-align: center;
  }
}
